.App {
  min-height: 100vh;
  position: relative;
}

Header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: cornflowerblue;
  color: white;
  margin: 0;
  padding: 10px;
}

main{
  display: flex;
  justify-content: center;
  font-size: 20px;
}

Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: cornflowerblue;
  color: white;
  margin: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.item{
  display: flex;
  gap: 5px;
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}

.item input[type="checkbox"]{
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  margin-right: 5px;
  cursor: pointer;
}

ul{
  padding: 0;
  margin: 0;
  gap: 5px;
}

.item svg{
  cursor: pointer;
  margin: 0;
  padding: 0;
  height: 1.5rem;
  width: 1.5rem;
}

.item svg:hover{
  fill: red;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}

form input{
  width: 300px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  border-color: cornflowerblue ;
  border-width: 5px;
}

form svg{
  height: 30px;
  width: 30px;
  color: rgb(255, 255, 255);
}

form svg:hover, button:hover{
  cursor: pointer;
}

form button{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: none;
  background-color: cornflowerblue;
}