.App {
  min-height: 100vh;
  position: relative;
  background-color: black;
  color: white;
}

Header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.082);
  color: white;
  margin: 0;
  padding: 10px;
}

main {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.082);
  color: white;
  margin: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.item {
  display: flex;
  gap: 5px;
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.item input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  cursor: pointer;
}

.item input[type="checkbox"]:checked {
  accent-color: yellowgreen;
}

ul {
  align-items: center;
  padding: 15px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.082);
  border-radius: 8px;
}

.item svg {
  cursor: pointer;
  margin: 0;
  padding: 0;
  height: 1.5rem;
  width: 1.5rem;
}

.item svg:hover {
  fill: rgba(253, 0, 0, 0.555);
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}

form input {
  width: 300px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  border-color: rgba(255, 255, 255, 0.082);
  border-width: 5px;
  background-color: black;
  color: white;
}

.search{
  width: 360px;
  text-align: center;
}

form svg {
  height: 50px;
  width: 50px;
  color: white;
}

form svg:hover,
button:hover {
  cursor: pointer; 
  opacity: 0.8;
}

form button {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: none;
  background-color: rgb(0, 0, 0);
  color: white;
}
